@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    text-align: center;
    width: 97vw;
}

.panel {
    height: 80vh;
    cursor: pointer;
    flex: 0.5;
    margin: 4px;
    position: relative;
    transition: flex 0.7s ease-out;
}

.panel.active {
    flex: 5;
}

#aboutme::before {
    content: "";
    background-image: url('https://wallpapercave.com/wp/wp4196745.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.60;
}
.panel .namep {
    font-size: 0%;
    opacity: 0;
}
.panel .name{
    font-size: 0;
    opacity: 0;
}

.panel .dp{
    position: absolute;
    border-radius: 50%;  
    border: 0.3vw outset rgb(158, 183, 230);
    max-width:80%;
    left: 10%; 
    top: 7%;
    transition: all 0.3s ease-out;
}

.panel.active .dp{
    transform: rotate(360deg);
    border: calc(0.2vw + 0.5vh) outset rgb(158, 183, 230);
    max-width: calc(5vh + 10vw);
    width: calc(4vh + 10vw);
    position: absolute; 
    left: 38%; 
    transition: all 0.4s ease-out;
}
.panel.active .name {
    font-size: calc(20% + 2vw);
    max-width: 50%;
    position: absolute; 
    left: calc(25% + 7vw); 
    top: calc(25% + 15vh);
    margin: 0;
    color:white;
    opacity: 1;
    transition: opacity 0.5s ease-in 0.5s;
}

.panel.active .namep {
    font-size: calc(1.2vw + 0.7vh);
    max-width: 80%;
    position: absolute; 
    text-align: center;
    left: 7vw;
    top: 40vh;
    color:white;
    opacity: 1;
    transition: opacity 0.7s ease-in 1.2s;
}

#education::before {
    content: "";
    background-image: url('https://images.wallpaperscraft.com/image/single/boat_mountains_lake_135258_1920x1080.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.60;
}

.panel .edutext .btecheducation{
    font-size: 0%;
    opacity: 0;
}

.panel .edutext .mtecheducation{
    font-size: 0%;
    opacity: 0;
}
.panel .edutext {
    font-size: 0;
}

#italic {
    font-style: italic;
    font-weight: lighter;
}
.blackfont {
    color:rgb(24, 23, 23);
}
    
.panel.active .edutext{
    max-width: 90%;
    position: absolute; 
    left: 4%; 
    top: 10%;
    margin: 0;
    color:white;
    opacity: 1;
    font-size: calc(0.5vw + 1.2vh);
    transition: all 0.5s ease-in 0.3s;
}
.panel.active .edutext .btecheducation {
    opacity: 1;
    font-size: calc(0.6vh + 0.9vw);
    margin-top: 5vh;
    transition: opacity 0.7s ease-in 0.5s;
}
.panel.active .edutext .mtecheducation {
    opacity: 1;
    margin-top: 5vh;
    font-size: calc(0.6vh + 0.9vw);
    transition: opacity 0.7s ease-in 1.5s;
}

.panel .top-icon {
    position: absolute;
    max-width: 90%;
    top: 8%;
    left: 20%;
}

.panel.active .top-icon {
    position: absolute;
    max-width: calc(4vh + 1.5vw);
    top: 3vh;
    left: 4vw;
    margin: 0;
    transition: all 0.7s ease-out;
}


#skills::before {
    content: "";
    background-image: url('https://images.wallpaperscraft.com/image/single/starry_sky_boat_reflection_125803_1920x1080.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.60;
}

#work::before {
    content: "";
    background-image: url('https://images.wallpaperscraft.com/image/single/ocean_beach_aerial_view_134429_1920x1080.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.60;
}
#projects::before {
    content: "";
    background-image: url('https://images.wallpaperscraft.com/image/single/waterfall_cliff_stone_141850_1920x1080.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.60;
}
#certifications::before {
    content: "";
    background-image: url('https://images.wallpaperscraft.com/image/single/lake_house_mountains_124286_1920x1080.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.60;
}

.panel .tabtext {
    font-size: calc(1.2vw + 0.5vh);
    color:#ffffff;
    position: absolute;
    top: 27vh;
    left: 2vw;
    margin: 0;
    writing-mode: vertical-lr;
    text-orientation: upright;
    transition: color 1s ease-out 0.6s;
}

.panel.active .tabtext {
    font-size: calc(1.5vh + 0.7vw);
    color:rgba(0, 0, 0, 0.795);
    position: absolute;
    top: 90%;
    left: 7%;
    margin: 0;
    writing-mode: horizontal-tb;
    text-orientation: mixed;
    transition: color 0.5s ease-in 0.5s, top 0.7s ease-in-out;
}

.video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .video{
        width: 100%;
        height: auto;
        overflow: hidden;
    }
}

@media (max-aspect-ratio: 16/9){
    .video{
        width: auto;
        height: 100%;
        overflow: hidden;
    }
}
/* @media (max-width: 500px) {
    body{
        overflow: auto;
    }
} */
